.App {
    height: 100vh;

  .bottom_menu{
    position: fixed;
    bottom: 2vh;
    min-height: 8vh;
    width: 90vw;
    margin: 0 auto;

    .form-control {
      width: 60%;
      margin-left: 5%;
    }
  }
  Form {
    max-width: 80%;
    margin: 40px auto;
    Button {
    margin-left: 75%;
    }
  }
}